<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sltg.system.mapper.SysNewsAnalysisMapper">
    <select id="queryNewsTotal" resultType="Integer">
        select count(1) from sys_news
    </select>

    <select id="queryRealNewsTotal" resultType="Integer">
        select count(1) from sys_news where detection_percent &lt;= '90%'
    </select>

    <select id="queryFakeNewsTotal" resultType="Integer">
        select count(1) from sys_news where detection_percent &gt; '90%'
    </select>

    <select id="queryUserNewsTotal" resultType="Integer">
        select count(1) from sys_user_news where del_flag = '0'
    </select>

    <select id="queryTrendDate" resultType="String">
        select DATE_FORMAT(tmp.newsTrend_date,'%m-%d') as newsTrend_date
        from (select news_date as newsTrend_date from sys_news
              GROUP BY news_date order by news_date desc limit 30 )tmp
        ORDER BY tmp.newsTrend_date ASC
    </select>

    <select id="queryNewsTotalTrend" resultType="Integer">
        select tmp.newsTrend_news
        from (select news_date as newsTrend_date, count(1) as newsTrend_news from sys_news
            GROUP BY news_date order by news_date desc limit 30 )tmp
        ORDER BY tmp.newsTrend_date ASC
    </select>

    <select id="queryRealNewsTrend" resultType="Integer">
        select tmp.newsTrend_real_news
        from (select news_date as newsTrend_date, count(1) as newsTrend_real_news from sys_news
            where detection_percent &lt;= '90%' GROUP BY news_date order by news_date desc limit 30 )tmp
        ORDER BY tmp.newsTrend_date ASC
    </select>
</mapper>