<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sltg.system.mapper.SysNewsMapper">
    <resultMap type="SysNews" id="SysNewsResult">
        <result property="newsId"            column="news_id"       />
        <result property="newsTitle"         column="news_title"    />
        <result property="haveTitle"         column="have_title"    />
        <result property="newsUrl"           column="news_url"      />
        <result property="newsText"          column="news_text"     />
        <result property="newsTheme"          column="news_theme"     />
        <result property="detectionPercent"  column="detection_percent" />
        <result property="detectionType"     column="detection_type" />
        <result property="newsDate"          column="news_date"      />
        <result property="newsSpider"        column="news_spider"    />
        <result property="newsFrom"          column="news_from"      />
        <result property="isFile"            column="is_file"        />
        <result property="createTime"        column="create_time"    />
        <result property="updateBy"          column="update_by"      />
        <result property="updateTime"        column="update_time"    />
        <result property="remark"            column="remark"         />
    </resultMap>
    
    <sql id="selectNewsVo">
        select news_id, news_title, have_title, news_url, news_text, news_theme, detection_percent, detection_type, news_date,
               news_spider, news_from, is_file, create_time, update_by, update_time, remark
		from sys_news
    </sql>
    
    <select id="selectNewsList" parameterType="SysNews" resultMap="SysNewsResult">
        <include refid="selectNewsVo"/>
        <where>
			<if test="newsTitle != null and newsTitle != ''">
				AND ( news_title like concat('%', #{newsTitle}, '%')
				    OR (is_file = 1 AND news_text like concat('%', #{newsTitle}, '%') ) )
			</if>
			<if test="newsTheme != null and newsTheme != ''">
                AND news_theme like concat('%', #{newsTheme}, '%')
			</if>
            <if test="detectionType != null and detectionType != ''">
                AND detection_type = #{detectionType}
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
		</where>
        order by create_time desc
    </select>

    <select id="queryNewsById" parameterType="String" resultMap="SysNewsResult">
        <include refid="selectNewsVo"/>
        where news_id = #{newsId}
    </select>
</mapper>