<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sltg.system.mapper.UserNewsMapper">
    <resultMap type="UserNews" id="UserNewsResult">
        <result property="newsId"            column="news_id"       />
        <result property="userId"            column="user_id"       />
        <result property="newsTitle"         column="news_title"    />
        <result property="newsTopic"         column="news_topic"      />
        <result property="newsDate"          column="news_date"      />
        <result property="newsFrom"          column="news_from"      />
        <result property="detectionPercent"  column="detection_percent" />
        <result property="detectionType"     column="detection_type"    />
        <result property="contentFile"       column="content_file"    />
        <result property="commentFile"       column="comment_file"    />
        <result property="storeId"           column="store_id"    />
        <result property="delFlag"           column="del_flag"       />
        <result property="createTime"        column="create_time"   />
        <result property="updateBy"          column="update_by"     />
        <result property="updateTime"        column="update_time"   />
        <result property="remark"            column="remark"        />
    </resultMap>
    
    <sql id="selectUserNewsVo">
        select news_id, user_id, news_title, news_topic, news_date, news_from, detection_percent, detection_type,
               content_file, comment_file, store_id, del_flag, create_time, update_by, update_time, remark
		from sys_user_news
    </sql>
    
    <select id="selectUserNewsList" parameterType="UserNews" resultMap="UserNewsResult">
        <include refid="selectUserNewsVo"/>
        where user_id = #{userId} and del_flag = '0'
        <if test="newsTitle != null and newsTitle != ''">
            AND news_title like concat('%', #{newsTitle}, '%')
        </if>
        <if test="newsTopic != null and newsTopic != ''">
            AND news_topic like concat('%', #{newsTopic}, '%')
        </if>
        <if test="detectionType != null and detectionType != ''">
            AND detection_type = #{detectionType}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by create_time desc
    </select>

    <select id="queryUserNewsById" parameterType="Long" resultMap="UserNewsResult">
        <include refid="selectUserNewsVo"/>
        where news_id = #{newsId}
    </select>

    <select id="checkUserNewsUnique" parameterType="map" resultMap="UserNewsResult">
        <include refid="selectUserNewsVo"/>
        where user_id = #{userId} and news_title = #{newsTitle}
    </select>

    <delete id="deleteUserNewsByIds" parameterType="Long">
        update sys_user_news set del_flag = '2', update_time = sysdate() where news_id in
        <foreach collection="array" item="newsId" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>

    <select id="selectUserNewsByIds" parameterType="map" resultMap="UserNewsResult">
        <include refid="selectUserNewsVo"/>
        where user_id = #{userId} and del_flag = '0' and news_id in
        <foreach collection="newsIds" item="newsId" open="(" separator="," close=")">
            #{newsId}
        </foreach>
        order by create_time desc
    </select>

    <insert id="insertUserNews" parameterType="UserNews" useGeneratedKeys="true" keyProperty="newsId">
        insert into sys_user_news (
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="newsTitle != null and newsTitle != ''">news_title,</if>
        <if test="newsTopic != null and newsTopic != ''">news_topic,</if>
        <if test="newsDate != null and newsDate != ''">news_date,</if>
        <if test="newsFrom != null and newsFrom != ''">news_from,</if>
        <if test="detectionPercent != null and detectionPercent != ''">detection_percent,</if>
        <if test="detectionType != null and detectionType != ''">detection_type,</if>
        <if test="contentFile != null and contentFile != ''">content_file,</if>
        <if test="commentFile != null and commentFile != ''">comment_file,</if>
        <if test="storeId != null and storeId != ''">store_id,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="newsTitle != null and newsTitle != ''">#{newsTitle},</if>
        <if test="newsTopic != null and newsTopic != ''">#{newsTopic},</if>
        <if test="newsDate != null and newsDate != ''">#{newsDate},</if>
        <if test="newsFrom != null and newsFrom != ''">#{newsFrom},</if>
        <if test="detectionPercent != null and detectionPercent != ''">#{detectionPercent},</if>
        <if test="detectionType != null and detectionType != ''">#{detectionType},</if>
        <if test="contentFile != null and contentFile != ''">#{contentFile},</if>
        <if test="commentFile != null and commentFile != ''">#{commentFile},</if>
        <if test="storeId != null and storeId != ''">#{storeId},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateUserNews" parameterType="UserNews">
        update sys_user_news
        <set>
            <if test="newsTitle != null and newsTitle != ''">news_title = #{newsTitle},</if>
            <if test="newsTopic != null and newsTopic != ''">news_topic = #{newsTopic},</if>
            <if test="newsDate != null and newsDate != ''">news_date = #{newsDate},</if>
            <if test="newsFrom != null and newsFrom != ''">news_from = #{newsFrom},</if>
            <if test="detectionPercent != null and detectionPercent != ''">detection_percent = #{detectionPercent},</if>
            <if test="detectionType != null and detectionType != ''">detection_type = #{detectionType},</if>
            <if test="contentFile != null and contentFile != ''">content_file = #{contentFile},</if>
            <if test="commentFile != null">comment_file = #{commentFile},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where news_id = #{newsId}
    </update>
</mapper>